@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background:linear-gradient(180deg, var(--color-primary) 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 var(--color-bg);
    padding:18px 24px;
    color:var(--color-text);
    max-width: 345px;
    flex:1 1 0;
}
.image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 26px;
}
.title{
    font-size: 20px;
    font-weight: 400;
}
.description{
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.skills{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
.skill{
    font-size: 16px;
    font-weight: 200;
    border-radius: 20px;
    padding:2px 15px;
    background:var(--color-dark);
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.link{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    text-decoration: none;
    color:var(--color-text);
    background: var(--color-primary);
    padding: 8px 15px;
    border-radius: 4px;
}
